yfinance>=0.2.31
pandas>=1.5.0
numpy>=1.23.0
matplotlib>=3.6.0
seaborn>=0.12.0
statsmodels>=0.14.0
scipy>=1.10.0
cvxpy>=1.3.0       # for portfolio optimisation
pyportfolioopt>=1.5.5 # optional: extra portfolio optimisation tools
scikit-learn>=1.2.0   # optional: ML models for advanced forecasting
tensorflow 
keras 
arch 
openpyxl 
xlsxwriter
pyarrow
